<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ICICI Innovation</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css"
    />
<link rel="stylesheet" href="style.css"
  </head>
  <body>
    <div class="container">
      <h1 class="brand"><span>ICICI</span> Innovation</h1>
      <div class="wrapper animated bounceInLeft">
        <div class="company-info">
          <h3>ICICI Innovation</h3>
          <ul>
            <li><i class="fa fa-phone"></i> (+91) 9800840692</li>
            <li><i class="fa fa-envelope"></i>sgrprmnk@gmail.com</li>
          </ul>
        </div>
        <div class="contact">
          <h3>Let's Conect</h3>
          {{msg}}
          <form method="POST" action="index.js">
            <p>
              
              <input type="text" name="name" placeholder="Name"/>
            </p>
            <p>
             
              <input type="text" name="company" placeholder="Company" />
            </p>
            <p>
              
              <input type="email" name="email"placeholder="Email ID"/>
            </p>
            <p>
              
              <input type="number" name="phone"  placeholder="Contact Number"/>
            </p>
            <p class="full">
              
              <textarea name="message" rows="7" placeholder="Type a message"></textarea>
            </p>
            <p class="full">
              <button type="submit">Send Now</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>